@import "variables";

body {
  font-family: $default-font;
  font-size: $base-font-size;
}

.field-container {
  width: $field-container-width;
  height: $field-container-height;

  border: 1px solid #000;
  border-bottom: none;

  margin: 0 auto;

  padding: 20px;

  &:first-child {
    margin-top: 100px;
  }

  &:last-child {
    border-bottom: 1px solid #000;
  }

  h1 {
    font-size: $base-font-size;
    font-weight: bold;

    text-transform: uppercase;

    margin: 0 0 5px;
  }

  .address {
    margin-top: 5px;

    $address-title-width: 90px;

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    h2 {
      font-size: $base-font-size * 0.875;
      text-transform: uppercase;

      width: $address-title-width;

      margin: 0;
    }

    > div, h2 {
      float: left;
    }

    .value {
      $value-field-padding: 10px;

      padding-left: $value-field-padding;
      width: $field-container-width - $address-title-width - $value-field-padding;

      input {
        $input-width: $field-container-width - $address-title-width - $value-field-padding - 5px;
        $postal-width: 100px;
        $postal-margin: 15px;

        width: $input-width;
        border: none;

        font-size: $base-font-size;

        margin-bottom: 10px;

        background-image: linear-gradient(to right, black 25%, rgba(255,255,255,0) 0%);
        background-position: bottom;
        background-size: 5px 1px;
        background-repeat: repeat-x;

        &.postal, &.city {
          margin-bottom: 0;
        }

        &.postal {
          width: $postal-width;
          margin-right: $postal-margin;

          background-image: linear-gradient(to right, black 60%, rgba(255,255,255,0) 0%);
        }

        &.city {
          width: $input-width - $postal-width - $postal-margin;
        }
      }

      > span {
        display: inline-block;
        font-size: $base-font-size * 0.75;
        text-transform: lowercase;

        &.postal {
          margin-left: 16px;
        }

        &.city {
          margin-left: 90px;
        }
      }
    }
  }
}